<div class="modal fade" id="projectDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" data-bind="with: selectedProject">
        <form role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-bind="click: cancelSave" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Project</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="projectNameInput">Name</label>
                        <input type="text" class="form-control" id="projectNameInput" placeholder="Name" data-bind="value: name">
                    </div>
                    <div class="form-group">
                        <label for="projectDescriptionInput">Description</label>
                        <input type="text" class="form-control" id="projectDescriptionInput" placeholder="Description" data-bind="value: description">
                    </div>
                    <div class="form-group" data-bind="visible: !isNew()">
                        <label>
                            <input type="checkbox" data-bind="checked: hidden"> Hidden
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-left">
                        <i class="icon-repeat" data-bind="visible: isBusy"></i><span data-bind="text: message"></span>
                    </div>
                    <button type="button" class="btn btn-default" data-bind="click: cancelSave">Close</button>
                    <button type="submit" class="btn btn-primary" data-bind="enable: canSave, click: save, text: updateText">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
