<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Freelance project manager">
    <meta name="author" content="Cornelis Kevin">
    <title>Freelance manager</title>
    <link href="/bundles/css/all" type="text/css" rel="stylesheet" />
</head>

<body>

    <div class="container">

        @RenderBody()

    </div>
</body>
</html>

