@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Title = "Freelance manager - Index";
}

<h1 class="text-center welcome-title">Welcome</h1>

<div class="row tileRow">
    <div class="col-xs-6 col-sm-3">
        <a href="/timeregistration" class="tile time"></a>
        <h4 class="text-center">Time registration</h4>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="/tasks" class="tile task"></a>
        <h4 class="text-center">Tasks</h4>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-6 col-sm-3">
        <a href="/contacts" class="tile contacts"></a>
        <h4 class="text-center">Contacts</h4>
    </div>
    <div class="col-xs-6 col-sm-3">
        <a href="/config" class="tile config"></a>
        <h4 class="text-center">Configuration</h4>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
   
        });
    </script>
}