@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    ViewBag.Title = "Time Registration - Export";
}

@section Menu{
    <li><a href="/timeregistration">Registrations</a></li>
    <li><a href="/timeregistration/report">Report</a></li>
    <li><a href="/timeregistration/import">Import</a></li>
    <li class="active"><a href="/timeregistration/export">Export</a></li>
}

@section Scripts{
    <script src="/bundles/viewmodels/timeregistration" type="text/javascript"></script>
    <script type="text/javascript">

        var viewModel = new ViewModels.TimeRegistrationExportViewModel();
        $(document).ready(function () {
            ko.applyBindings(viewModel);
        });

    </script>
}

<h1 class="text-center">Export</h1>

<form method="post">
    <div class="form-group">
        <label for="year">Year</label>
        <input type="text" class="form-control" id="year" placeholder="Year" name="year">
    </div>

    <div class="form-group">
        <label for="month">Month</label>
        <input type="text" class="form-control" id="month" placeholder="Month" name="month">
    </div>

    <button type="submit" class="btn btn-default">Export</button>
</form>
