@{
    ViewBag.Title = "Time Registration - Import";
}

@section Scripts{
    <script src="/bundles/viewmodels/timeregistration" type="text/javascript"></script>
    <script type="text/javascript">

        var viewModel = new TimeRegistrationImportViewModel();

        $(document).ready(function () {

            ko.applyBindings(viewModel);
        });
    </script>
}

<h1 class="text-center">Import Time Registrations</h1>

<div class="well">
    <form method="post" action="/timeregistration/importupload" enctype="multipart/form-data">
        <div class="form-group">
            <div style="position:relative;">
                <a class='btn btn-primary' href='javascript:;'>
                    Choose File...
                    <input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;'
                           name="ExcelFile" size="40" onchange='$("#upload-file-info").html($(this).val());'>
                </a>
                &nbsp;
                <span class='label label-info' id="upload-file-info"></span>
            </div>
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
        <a href="/timeregistration">Cancel</a>
    </form>
</div>

<div class="panel panel-default">
    <div class="panel-heading text-center"><strong>Import Info</strong></div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th>Client</th>
                <th>Client Id</th>
                <th>Project</th>
                <th>Project Id</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: projects">
            <tr>
                <td data-bind="text: clientName"></td>
                <td data-bind="text: clientId"></td>
                <td data-bind="text: name"></td>
                <td data-bind="text: id"></td>
            </tr>
        </tbody>
    </table>
</div>





