<li class="@(Model == "TimeRegistration" ? "active" : "")"><a href="/timeregistration">Registrations</a></li>
<li class="@(Model == "Overview" ? "active" : "")"><a href="/timeregistration/overview">Overview</a></li>
<li class="@(Model == "Report" ? "active" : "")"><a href="/timeregistration/report">Report</a></li>