<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true">
  <extensions>
    <add assembly="NLog.MongoDB" />
  </extensions>

  <targets>

    <target xsi:type="MongoDB" name="Mongo"
				database="FM-Log" port="27017"
        host="localhost" />

    <target xsi:type="Debugger" name="Debugger" />

  </targets>
  <rules>
    <logger name="*"  minlevel="Trace" appendTo="Debugger" />
    <logger name="*"  minlevel="Trace" appendTo="Mongo" />
  </rules>
</nlog>