<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true">
  <extensions>
    <add assembly="NLog.MongoDB" />
  </extensions>

  <targets async="true">

    <target xsi:type="Trace" name="Trace" />

    <target xsi:type="MongoDB" name="Mongo"
				database="FM-Log" port="27017"
        host="localhost" collectionName="ReadModel"  />

    <target xsi:type="Console"
            name="Console" 
            layout="${date:format=HH}:${date:format=mm}:${date:format=ss} ${level} ${message} ${onexception:Exception\:${exception:format=shortType,message,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,stacktrace}}" />

  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="Trace" />
    <logger name="*" minlevel="Info" appendTo="Mongo" />
    <logger name="*" minlevel="Debug" appendTo="Console" />
  </rules>
</nlog>