@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "Views/Shared/_SetupLayout.cshtml";
}

<h2 class="text-center">Create a new account</h2>
<form>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" name="Name" class="form-control" />
                </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">First name</label>
            <div class="col-md-10">
                <input type="text" name="FirstName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Last name</label>
            <div class="col-md-10">
                <input type="text" name="LastName" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" name="Name" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Email</label>
            <div class="col-md-10">
                <input type="text" name="Email" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" name="Password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
